In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

# Data Cleaning & Feature Engineering

## Objective
Clean the raw Titanic dataset and prepare it for machine learning models.
This includes handling missing values, encoding categorical variables,
and creating useful features.

In [1]:
import pandas as pd
import numpy as np

In [14]:
data=pd.read_csv("/kaggle/input/data-train2/train.csv")
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

## Step 1: Drop irrelevant columns

In [23]:
data=data.drop(columns=["Ticket"])
data=data.drop(columns=["Name"])
data=data.drop(columns=["PassengerId"])
data=data.drop(columns=["Cabin"])#Cabin has too many missing values, so it will be dropped.

## Step 2: Handle missing values

### Age
Age has missing values. We fill them using the median to reduce
the effect of outliers.

In [ ]:
data["Age"]=data["Age"].fillna(data["Age"].median())

Embarked has a few missing values. We fill them using the most common value.

In [13]:
data["Embarked"] = data["Embarked"].fillna(data["Embarked"].mode()[0])

## Step 3: Encode categorical variables

Convert categorical features into numerical values for ML models.

In [15]:
data["Sex"]=data["Sex"].map({"male": 0 ,"female":1})
data=pd.get_dummies(data,columns=["Embarked"],drop_first=True)

## Step 4: Feature engineering

Create new features that may improve model performance.

In [21]:
data["FamilySize"]=data["Parch"]+data["SibSp"]+1

In [24]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Survived    891 non-null    int64
 1   Pclass      891 non-null    int64
 2   Sex         891 non-null    int64
 3   Age         714 non-null    float64
 4   SibSp       891 non-null    int64
 5   Parch       891 non-null    int64
 6   Fare        891 non-null    float64
 7   Embarked_Q  891 non-null    bool
 8   Embarked_S  891 non-null    bool
 9   FamilySize  891 non-null    int64
dtypes: bool(2), float64(2), int64(6)
memory usage: 57.6 KB